.main-header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(27.1828px);
}

.header-title {
    font-weight: 500;
}

.header-title span {
    font-weight: 800;
    font-size: 24px;
    font-family: "NanumSquareRound", sans-serif;
}

.setting-username {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

.setting-content {
    width: 100%;
    display: inline-flex;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-pwrule {
    color: #828282;
}

.errmsg-pos {
    position: absolute;
}

.setting-content input {
    background-color: #f8f8f8;
    border: 0.2px solid #e0e0e0;
    border-radius: 2px;
    height: 30px;
    color: #333333;
}

.setting-content input::placeholder {
    color: #bdbdbd;
    font-size: 12px;
}

#currentPw {
    background: #bdbdbd;
    color: #666666;
}